<!doctype html>
<html lang="en">
<body>
    <footer class="footer">
    <div class="footer__inner container">
        <div class="footer__up">
            <img
                    class="footer__up-logo"
                    src="/images/globals/logo_footer.svg"
                    alt=""
                    width="197" height="87" loading="lazy"
                    style="color: black"
            />
            <h2 class="footer__up-title">We collaborate with ambitious brands and people; let’s build something great together.</h2>
        </div>
        <div class="footer__down">
            <ul class="footer__list">
                <li class="footer__item">
                    <p class="footer__item-title">Start a conversation:</p>
                    <div class="footer__item-body">
                        english@example.com <br>
                        +7 (969) 866-70-33
                    </div>
                    <div class="footer__item-line"></div>
                    <p class="footer__item-end">Terms & Conditions</p>
                </li>
                <li class="footer__item">
                    <p class="footer__item-title">Find us here:</p>
                    <div class="footer__item-body">
                        Vladivostok, Gogolya 41, <br>
                        VVSU ITHub
                    </div>
                    <div class="footer__item-line"></div>
                    <p class="footer__item-end">Privacy Policy</p>
                </li>
                <li class="footer__item">
                    <p class="footer__item-title">Follow us on:</p>
                    <div class="footer__item-body">
                        <ul class="footer__item-icons">
                            <li class="footer__item-icon">
                                <a href="https://www.facebook.com" target="_blank">
                                    <img
                                            src="/images/icons/facebook.svg"
                                            alt=""
                                            width="21" height="21" loading="lazy"
                                    />
                                </a>
                            </li>
                            <li class="footer__item-icon" target="_blank">
                                <a href="https://www.twitter.com">
                                    <img
                                            src="/images/icons/twitter.svg"
                                            alt=""
                                            width="21" height="21" loading="lazy"
                                    />
                                </a>
                            </li>
                            <li class="footer__item-icon" target="_blank">
                                <a href="https://www.instagram.com">
                                    <img
                                            src="/images/icons/insta.svg"
                                            alt=""
                                            width="21" height="21" loading="lazy"
                                    />
                                </a>
                            </li>
                            <li class="footer__item-icon">
                                <a href="https://www.youtube.com" target="_blank">
                                    <img
                                            src="/images/icons/youtube.svg"
                                            alt=""
                                            width="21" height="21" loading="lazy"
                                    />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__item-line"></div>
                    <p class="footer__item-end">© 2024 Qode Interactive. All Rights Reserved</p>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>