<!doctype html>
<html lang="ru">
<body>
    <header class="header">
    <div class="header__inner container">
        <div class="header__left">
            <a class="header__logo" href="/">
                <svg width="190" height="37" viewBox="0 0 190 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.0500001 0.999998H8.15C10.8833 0.999998 12.9333 1.73333 14.3 3.2C15.6667 4.66666 16.35 6.81666 16.35 9.65V13.1C16.35 15.9333 15.6667 18.0833 14.3 19.55C12.9333 21.0167 10.8833 21.75 8.15 21.75H5.55V36H0.0500001V0.999998ZM8.15 16.75C9.05 16.75 9.71667 16.5 10.15 16C10.6167 15.5 10.85 14.65 10.85 13.45V9.3C10.85 8.1 10.6167 7.25 10.15 6.75C9.71667 6.25 9.05 6 8.15 6H5.55V16.75H8.15ZM19.3371 0.999998H34.3371V6H24.8371V15.25H32.3871V20.25H24.8371V31H34.3371V36H19.3371V0.999998ZM44.7488 36.5C42.0822 36.5 40.0655 35.75 38.6988 34.25C37.3322 32.7167 36.6488 30.5333 36.6488 27.7V25.7H41.8488V28.1C41.8488 30.3667 42.7988 31.5 44.6988 31.5C45.6322 31.5 46.3322 31.2333 46.7988 30.7C47.2988 30.1333 47.5488 29.2333 47.5488 28C47.5488 26.5333 47.2155 25.25 46.5488 24.15C45.8822 23.0167 44.6488 21.6667 42.8488 20.1C40.5822 18.1 38.9988 16.3 38.0988 14.7C37.1988 13.0667 36.7488 11.2333 36.7488 9.2C36.7488 6.43333 37.4488 4.3 38.8488 2.8C40.2488 1.26666 42.2822 0.499998 44.9488 0.499998C47.5822 0.499998 49.5655 1.26666 50.8988 2.8C52.2655 4.3 52.9488 6.46667 52.9488 9.3V10.75H47.7488V8.95C47.7488 7.75 47.5155 6.88333 47.0488 6.35C46.5822 5.78333 45.8988 5.5 44.9988 5.5C43.1655 5.5 42.2488 6.61667 42.2488 8.85C42.2488 10.1167 42.5822 11.3 43.2488 12.4C43.9488 13.5 45.1988 14.8333 46.9988 16.4C49.2988 18.4 50.8822 20.2167 51.7488 21.85C52.6155 23.4833 53.0488 25.4 53.0488 27.6C53.0488 30.4667 52.3322 32.6667 50.8988 34.2C49.4988 35.7333 47.4488 36.5 44.7488 36.5ZM56.2023 0.999998H64.6023C67.3357 0.999998 69.3857 1.73333 70.7523 3.2C72.119 4.66666 72.8023 6.81666 72.8023 9.65V27.35C72.8023 30.1833 72.119 32.3333 70.7523 33.8C69.3857 35.2667 67.3357 36 64.6023 36H56.2023V0.999998ZM64.5023 31C65.4023 31 66.0857 30.7333 66.5523 30.2C67.0523 29.6667 67.3023 28.8 67.3023 27.6V9.4C67.3023 8.2 67.0523 7.33333 66.5523 6.8C66.0857 6.26667 65.4023 6 64.5023 6H61.7023V31H64.5023ZM80.6672 0.999998H88.1172L93.8172 36H88.3172L87.3172 29.05V29.15H81.0672L80.0672 36H74.9672L80.6672 0.999998ZM86.6672 24.4L84.2172 7.1H84.1172L81.7172 24.4H86.6672ZM96.4855 0.999998H104.786C107.619 0.999998 109.686 1.66666 110.986 3C112.286 4.3 112.936 6.31666 112.936 9.05V10.45C112.936 12.25 112.636 13.7167 112.036 14.85C111.469 15.9833 110.586 16.8 109.386 17.3V17.4C112.119 18.3333 113.486 20.7667 113.486 24.7V27.7C113.486 30.4 112.769 32.4667 111.336 33.9C109.936 35.3 107.869 36 105.136 36H96.4855V0.999998ZM104.136 15.25C105.236 15.25 106.052 14.9667 106.586 14.4C107.152 13.8333 107.436 12.8833 107.436 11.55V9.6C107.436 8.33333 107.202 7.41667 106.736 6.85C106.302 6.28333 105.602 6 104.636 6H101.986V15.25H104.136ZM105.136 31C106.102 31 106.819 30.75 107.286 30.25C107.752 29.7167 107.986 28.8167 107.986 27.55V24.5C107.986 22.9 107.702 21.8 107.136 21.2C106.602 20.5667 105.702 20.25 104.436 20.25H101.986V31H105.136ZM124.65 36.5C121.95 36.5 119.884 35.7333 118.45 34.2C117.017 32.6667 116.3 30.5 116.3 27.7V9.3C116.3 6.5 117.017 4.33333 118.45 2.8C119.884 1.26666 121.95 0.499998 124.65 0.499998C127.35 0.499998 129.417 1.26666 130.85 2.8C132.284 4.33333 133 6.5 133 9.3V27.7C133 30.5 132.284 32.6667 130.85 34.2C129.417 35.7333 127.35 36.5 124.65 36.5ZM124.65 31.5C126.55 31.5 127.5 30.35 127.5 28.05V8.95C127.5 6.65 126.55 5.5 124.65 5.5C122.75 5.5 121.8 6.65 121.8 8.95V28.05C121.8 30.35 122.75 31.5 124.65 31.5ZM136.72 0.999998H142.22V31H151.27V36H136.72V0.999998ZM153.907 0.999998H159.407V36H153.907V0.999998ZM163.527 0.999998H169.027V15.75L176.027 0.999998H181.527L174.977 13.85L181.627 36H175.877L171.227 20.4L169.027 24.85V36H163.527V0.999998ZM184.23 0.999998H189.73V36H184.23V0.999998Z"
                          fill="#5E5BFB"/>
                </svg>
            </a>
        </div>
        <div class="header__right">
            <nav class="header__menu">
                <ul class="header__menu-list">
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#main">Главная</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#news">Новости</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#reviews">Отзывы</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#video">Видео</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#questions">Вопросы</a>
                    </li>

                    <li class="header__menu-item menu">
                        <a class="header__menu-link" href="#">Меню</a>

                        <div class="header__menu-dropdown">
                            <ul class="menu__list">
                                <li><a class="menu__item" href="/lessons">Уроки</a></li>
                                <li><a class="menu__item" href="/tests">Тесты</a></li>
                                <li><a class="menu__item" href="/talk">Общение</a></li>
                            </ul>
                        </div>
                    </li>
                </ul
            </nav>
            <a id="header__profile" href="#">
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M49.467 40.2671C48.5252 37.377 46.5174 34.7446 43.5057 32.4481C41.5689 30.9795 39.2413 29.7297 36.5938 28.7533C35.9808 28.5268 35.4478 28.2768 34.968 28.0112H34.9591C31.903 26.324 31.5476 24.129 31.5387 23.2542C33.4755 21.6372 35.0657 19.3798 36.0519 16.8333C36.7804 14.9508 37.1535 13.0136 37.1535 11.0842C37.1535 8.71739 36.656 6.67864 35.6787 5.03827C33.7687 1.78878 29.984 0 25 0C20.0071 0 16.2136 1.78878 14.3212 5.03046C13.3529 6.68645 12.8554 8.7252 12.8554 11.0764C12.8554 13.0058 13.2285 14.943 13.957 16.8255C14.9343 19.372 16.5334 21.6216 18.4701 23.2464C18.4613 24.1212 18.1059 26.324 15.0409 28.0112C14.57 28.269 14.0281 28.519 13.4151 28.7533C10.7587 29.7375 8.43106 30.9795 6.49431 32.4559C3.4737 34.768 1.46588 37.4004 0.533049 40.2828C0.177683 41.3998 0 42.6574 0 44.0322V49.2423C0 49.6641 0.382018 50 0.861763 50H49.1382C49.618 50 50 49.6641 50 49.2423V44.0322C50 42.6027 49.8223 41.3685 49.467 40.2671ZM15.8493 5.72567C17.8838 2.24965 21.9439 1.51539 25 1.51539C28.0473 1.51539 32.1073 2.24184 34.1329 5.72567C34.506 6.35838 34.7903 7.07702 35.0036 7.85034L30.215 5.17107C29.8952 4.99141 29.4776 5.01484 29.1933 5.23356C21.6684 10.8889 16.4001 8.62365 15.0053 7.8269C15.2097 7.0614 15.4851 6.35057 15.8493 5.72567ZM15.5917 16.3412C14.9254 14.6149 14.5878 12.8417 14.5878 11.0764C14.5878 10.4905 14.6322 9.92814 14.6944 9.38916C15.7338 9.86565 17.4396 10.4281 19.6695 10.4281C22.3792 10.4281 25.8529 9.59225 29.8241 6.74113L35.3589 9.84221C35.3945 10.2406 35.4211 10.6546 35.4211 11.0764C35.4211 12.8417 35.0835 14.6071 34.4172 16.3412C33.4844 18.7627 31.9652 20.8796 30.1173 22.3403C30.0462 22.3949 29.9751 22.4574 29.9041 22.5121C28.3227 23.7072 26.6258 24.3399 25 24.3399C23.3742 24.3399 21.6862 23.7072 20.0959 22.5121C18.1592 21.0514 16.5601 18.8564 15.5917 16.3412ZM20.0515 24.3868C21.6507 25.3476 23.3387 25.8631 25 25.8631C26.6613 25.8631 28.3493 25.3476 29.9485 24.3868C30.2239 25.6288 31.0323 27.3473 33.2445 28.808C31.6098 30.3468 28.4382 31.3389 25.0089 31.3389C21.5707 31.3389 18.3991 30.339 16.7733 28.808C18.9677 27.3395 19.7761 25.621 20.0515 24.3868ZM48.2765 48.4768H1.72353V44.0244C1.72353 42.7902 1.88344 41.6654 2.19439 40.689C3.03838 38.0956 4.86852 35.7132 7.63149 33.5963C9.42608 32.2293 11.6027 31.0655 14.0903 30.1515C14.5256 29.9875 14.9254 29.8157 15.2985 29.636C17.2175 31.6122 20.9133 32.8542 25.0089 32.8542C29.1045 32.8542 32.7914 31.6044 34.7193 29.636C35.0924 29.8157 35.4922 29.9875 35.9275 30.1515C38.4151 31.0733 40.5828 32.2293 42.3863 33.5963C45.1493 35.6975 46.9705 38.08 47.8234 40.689C48.1432 41.6497 48.2942 42.7433 48.2942 44.0244V48.4768H48.2765Z"
                          fill="#5E5BFB"/>
                </svg>
            </a>
        </div>
    </div>

    <script type="module" src="./scripts/menu.js"></script>
</header>
</body>
</html>