<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/swiper-bundle.css">
    <link rel="stylesheet" href="./css/lightgallery.css">
    <link rel="stylesheet" href="./css/pages/mainPage/mainPage.css">
    <title>Pesdaboliki</title>
</head>
<body>
    {{>header}}

    <main class="content">
        <section class="section container" id="main">
            <div class="section__body">
                <div class="hero">
                    <div class="hero__left">
                        <h1 class="hero__title">
                            <span class="hero__color-1">Лучшая платформа</span>
                            <br> <span class="hero__color-2">для изучения</span>
                            <br> <span class="hero__color-3">иностранных языков</span>
                        </h1>
                        <div class="hero__description">
                            <p>Учись эффективно с пошаговыми уроками,
                                общайся с носителями языка и проверяй свои знания с помощью тестов.
                                Сделай изучение языка увлекательным и доступным.</p>
                        </div>
                        <a class="hero__startLearn button" href="/lessons">Начать учиться</a>
                    </div>
                    <div class="hero__right">
                        <div class="hero__images">
                            <img
                              class="hero__image"
                              src="/images/mainPage/hero/1.jpg"
                              alt=""
                              width="260" height="330" loading="lazy"
                            />

                            <img
                              class="hero__image"
                              src="/images/mainPage/hero/2.jpg"
                              alt=""
                              width="260" height="330" loading="lazy"
                            />
                        </div>
                        <div class="hero__promo">
                            <div class="hero__promo-icon">
                                <svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.1704 19.6072L0.39539 10.8907C-0.131797 10.367 -0.131797 9.51795 0.39539 8.99423L2.30453 7.09776C2.83172 6.57403 3.68654 6.57403 4.21373 7.09776L10.125 12.9696L22.7863 0.392753C23.3135 -0.130918 24.1683 -0.130918 24.6955 0.392753L26.6046 2.28922C27.1318 2.81289 27.1318 3.66197 26.6046 4.18569L11.0796 19.6073C10.5524 20.1309 9.69758 20.1309 9.1704 19.6072Z"
                                          fill="white"/>
                                </svg>
                            </div>
                            <div class="hero__promo-text">
                                <p>Получи скидку 30% за регистрацию</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section container" id="news">
            <div class="section__header">
                <h2 class="section__title" data-tooltip="Здесь вы найдете все последние обновления">Последние новости</h2>
            </div>
            <div class="section__body">
                <div class="news">
                    <ul class="news__list">
                        <li class="news__item">
                            <img
                              class="news__image"
                              src="/images/mainPage/news/1.jpg"
                              alt=""
                              width="405" height="240" loading="lazy"
                            />
                            <h3 class="news__title">Запуск новых интерактивных тестов по английскому языку</h3>
                            <div class="news_description">
                                <p>Мы рады объявить о запуске новых интерактивных тестов, которые помогут вам проверить свои знания английского языка.</p>
                            </div>
                            <a class="news__link" href="/">
                                READ MORE
                                <img
                                  src="/images/icons/arrow-right.svg"
                                  alt=""
                                  width="36" height="36" loading="lazy"
                                />
                            </a>
                        </li>
                        <li class="news__item">
                            <img
                                    class="news__image"
                                    src="/images/mainPage/news/2.jpg"
                                    alt=""
                                    width="405" height="240" loading="lazy"
                            />
                            <h3 class="news__title">Запуск новых интерактивных тестов по английскому языку</h3>
                            <div class="news_description">
                                <p>Мы рады объявить о запуске новых интерактивных тестов, которые помогут вам проверить свои знания английского языка.</p>
                            </div>
                            <a class="news__link" href="/">
                                READ MORE
                                <img
                                        src="/images/icons/arrow-right.svg"
                                        alt=""
                                        width="36" height="36" loading="lazy"
                                />
                            </a>
                        </li>
                        <li class="news__item">
                            <img
                                    class="news__image"
                                    src="/images/mainPage/news/3.jpg"
                                    alt=""
                                    width="405" height="240" loading="lazy"
                            />
                            <h3 class="news__title">Запуск новых интерактивных тестов по английскому языку</h3>
                            <div class="news_description">
                                <p>Мы рады объявить о запуске новых интерактивных тестов, которые помогут вам проверить свои знания английского языка.</p>
                            </div>
                            <a class="news__link" href="/">
                                READ MORE
                                <img
                                        src="/images/icons/arrow-right.svg"
                                        alt=""
                                        width="36" height="36" loading="lazy"
                                />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="section container" id="reviews">
            <div class="section__header">
                <h2 class="section__title" data-tooltip="Читайте то, что о нас пишут люди">Наши отзывы</h2>
            </div>
            <div class="section__body">
                <div class="swiper">
                    <div class="reviews swiper-wrapper">
                        <div class="reviews__item swiper-slide">
                            <img
                                    class="reviews__image"
                                    src="/images/mainPage/reviews/1.jpg"
                                    alt=""
                                    width="150" height="140" loading="lazy"
                            />
                            <h3 class="reviews__title">Эффективное изучение языка</h3>
                            <div class="reviews__description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus neque purus, sit amet posuere diam cursus in. Morbi efficitur.</p>
                            </div>
                            <div class="reviews__name">
                                <p>Jenna Johnson</p>
                            </div>
                        </div>
                        <div class="reviews__item swiper-slide">
                            <img
                                    class="reviews__image"
                                    src="/images/mainPage/reviews/2.png"
                                    alt=""
                                    width="150" height="140" loading="lazy"
                            />
                            <h3 class="reviews__title">Лучшая поддержка</h3>
                            <div class="reviews__description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus neque purus, sit amet posuere diam cursus in. Morbi efficitur.</p>
                            </div>
                            <div class="reviews__name">
                                <p>Robert Logan</p>
                            </div>
                        </div>
                        <div class="reviews__item swiper-slide">
                            <img
                                    class="reviews__image"
                                    src="/images/mainPage/reviews/3.jpg"
                                    alt=""
                                    width="150" height="140" loading="lazy"
                            />
                            <h3 class="reviews__title">Настоящие профессионалы</h3>
                            <div class="reviews__description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus neque purus, sit amet posuere diam cursus in. Morbi efficitur.</p>
                            </div>
                            <div class="reviews__name">
                                <p>August Johns</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </section>

        <section class="section container" id="gallery">
            <div class="section__header">
                <h2 class="section__title" data-tooltip="Наши картинки">Галлерея</h2>
            </div>
            <div class="section__body">
                <div class="gallery">
                    <a class="gallery__item" href="./images/gallery/1.jpg" data-src="./images/gallery/1.jpg">
                        <img
                          src="/images/gallery/1.jpg"
                          alt=""
                          width="300" height="200" loading="lazy"
                        />
                    </a>
                    <a class="gallery__item" href="./images/gallery/2.jpg" data-src="/images/gallery/2.jpg">
                        <img
                                src="./images/gallery/2.jpg"
                                alt=""
                                width="300" height="200" loading="lazy"
                        />
                    </a>
                    <a class="gallery__item" href="./images/gallery/3.jpg" data-src="/images/gallery/3.jpg">
                        <img
                                src="./images/gallery/3.jpg"
                                alt=""
                                width="300" height="200" loading="lazy"
                        />
                    </a>
                    <a class="gallery__item" href="./images/gallery/4.jpg" data-src="/images/gallery/4.jpg">
                        <img
                                src="./images/gallery/4.jpg"
                                alt=""
                                width="300" height="200" loading="lazy"
                        />
                    </a>
                    <a class="gallery__item" href="./images/gallery/5.jpg" data-src="/images/gallery/5.jpg">
                        <img
                                src="./images/gallery/5.jpg"
                                alt=""
                                width="300" height="200" loading="lazy"
                        />
                    </a>
                    <a class="gallery__item" href="./images/gallery/6.jpg" data-src="/images/gallery/6.jpg">
                        <img
                                src="./images/gallery/6.jpg"
                                alt=""
                                width="300" height="200" loading="lazy"
                        />
                    </a>
                </div>
            </div>
        </section>

        <section class="section container" id="video">
            <div class="section__header">
                <h2 class="section__title" data-tooltip="Реклама">Откройте новые горизонты</h2>
            </div>
            <div class="section__body">
                <div class="promoVideo">
                    <video
                            class="promoVideo__file"
                            src="./images/videos/promoVideo.mp4"
                            autoplay muted loop playsinline
                    ></video>
                    <div class="promoVideo__description">
                        <p>Погружение в язык и культуру с лучшими материалами</p>
                    </div>
                    <a class="promoVideo__button button" href="/lessons">Начать учиться</a>
                </div>
            </div>
        </section>

        <section class="section container" id="questions">
            <div class="section__header">
                <h2 class="section__title" data-tooltip="Часто задаваемые вопросы">Ответы на вопросы</h2>
            </div>
            <div class="section__body">
                <div class="questions">
                    <ul class="questions__list">
                        <li class="questions__item">
                            <details>
                                <summary>Сколько стоит занятие с носителем?</summary>
                                <p>Lorem Ipsum - это текст-"рыба",
                                    часто используемый в печати и вэб-дизайне.
                                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                                    В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                                    используя Lorem Ipsum для распечатки образцов. </p>
                            </details>
                        </li>
                        <li class="questions__item">
                            <details>
                                <summary>Сколько стоит занятие с носителем?</summary>
                                <p>Lorem Ipsum - это текст-"рыба",
                                    часто используемый в печати и вэб-дизайне.
                                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                                    В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                                    используя Lorem Ipsum для распечатки образцов. </p>
                            </details>
                        </li>
                        <li class="questions__item">
                            <details>
                                <summary>Сколько стоит занятие с носителем?</summary>
                                <p>Lorem Ipsum - это текст-"рыба",
                                    часто используемый в печати и вэб-дизайне.
                                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                                    В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                                    используя Lorem Ipsum для распечатки образцов. </p>
                            </details>
                        </li>
                        <li class="questions__item">
                            <details>
                                <summary>Сколько стоит занятие с носителем?</summary>
                                <p>Lorem Ipsum - это текст-"рыба",
                                    часто используемый в печати и вэб-дизайне.
                                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                                    В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                                    используя Lorem Ipsum для распечатки образцов. </p>
                            </details>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    {{>footer}}

    <script src="./scripts/libraries/swiper-bundle.js"></script>
    <script src="./scripts/libraries/gsap.js"></script>
    <script src="./scripts/libraries/lightgallery.umd.js"></script>
    <script src="./scripts/libraries/lg-zoom.umd.js"></script>
    <script src="./scripts/mainPage.js"></script>
</body>
</html>