<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/pages/testsPage/testsPage.css">
    <title>Tests</title>
</head>
<body>
    {{>header}}

    <main class="content">
        <div class="tests container">
            <h1 class="tests__title">Тестирование знаний</h1>
            <div class="tests__description">
                <p>На этой странице вы можете протестировать свои знания английского языка, выбрав один из тестов.</p>
            </div>

            <ul class="tests__list">
                <li class="tests__item">
                    <h2 class="tests__item-title">Уровень - A1</h2>
                    <a class="tests__item-link button" href="#">Пройти тест</a>
                </li>
                <li class="tests__item">
                    <h2 class="tests__item-title">Уровень - A2</h2>
                    <a class="tests__item-link button" href="#">Пройти тест</a>
                </li>
                <li class="tests__item">
                    <h2 class="tests__item-title">Уровень - B1</h2>
                    <a class="tests__item-link button" href="#">Пройти тест</a>
                </li>
                <li class="tests__item">
                    <h2 class="tests__item-title">Уровень - B2</h2>
                    <a class="tests__item-link button" href="#">Пройти тест</a>
                </li>
                <li class="tests__item">
                    <h2 class="tests__item-title">Уровень - C1</h2>
                    <a class="tests__item-link button" href="#">Пройти тест</a>
                </li>
            </ul>
        </div>
    </main>

    {{>footer}}
</body>
</html>