@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-accent: #5e5bfb;
  --color-accent-alt: #7D7AFB;
  --color-common: #48555b;
  --color-white: #ffffff;
  --color-red: #dd3333;
  --color-pink: #FAEDFF;
  --button-padding: 18px 21px;
  --button-color: var(--color-accent);
  --button-border-radius: 30px;
  --button-height: 60px;
  --button-width: 183px;
  --container-width: 1300px;
  --container-padding-x: 20px;
  --section-padding-y: 50px;
  --font-family-base: "DM Sans", sans-serif;
  --transition-duration: 0.3s;
}
@media (max-width: 767px) {
  :root {
    --section-padding-y: 20px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(13px, 1.0416666667vw, 15px);
  font-family: var(--font-family-base), sans-serif;
  font-weight: 400;
  color: var(--color-common);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-family: var(--font-family-base), sans-serif;
}

h1, h2 {
  font-weight: 700;
  font-size: clamp(35px, 3.0555555556vw, 44px);
}

h3 {
  font-weight: 500;
  font-size: clamp(20px, 1.6666666667vw, 24px);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  padding: var(--button-padding);
  height: var(--button-height);
  width: var(--button-width);
  background-color: var(--button-color);
  color: var(--color-white);
  font-size: 17px;
  border-radius: var(--button-border-radius);
}
.button:hover {
  background-color: #ecd013;
}

.header {
  height: 88px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 18px;
  color: var(--color-accent);
}
.header__right {
  display: flex;
  gap: 60px;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
  color: var(--color-common);
}
.header__menu-item {
  position: relative;
  font-size: 20px;
}
.header__menu-dropdown {
  display: none;
  position: absolute;
  width: 120px;
  top: 100%;
  right: -60%;
  background-color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.menu:hover .header__menu-dropdown {
  display: block;
}

.menu__list {
  display: flex;
  flex-direction: column;
}
.menu__item {
  display: block;
  text-align: center;
  cursor: pointer;
}
.menu__item:hover {
  background-color: #c3c3c3;
}

.footer {
  background-color: var(--color-accent);
  padding: 93px 0 190px 0;
}
.footer__up {
  display: flex;
  justify-content: start;
  gap: 77px;
  text-align: center;
}
.footer__up-title {
  font-size: 30px;
  color: var(--color-white);
}
.footer__down {
  margin-top: 100px;
  padding: 0 165px;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__item-title {
  font-weight: 700;
}
.footer__item-line {
  height: 2px;
  width: 100%;
  background-color: var(--color-white);
}
.footer__item-icons {
  display: flex;
  gap: 20px;
}

.talk {
  display: flex;
  flex-direction: column;
  padding: 30px 200px;
  gap: 30px;
}
.talk__body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.talk__body-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.talk__body-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.talk__body-card {
  width: 255px;
  height: 323px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 15px;
  border-radius: 30px;
}
.talk__body-card__avatar {
  border-radius: 50%;
}
.talk__body-card__nickname {
  color: var(--color-accent);
}
.talk__body-textChat {
  width: 100%;
  height: 315px;
  border-radius: 30px;
  background-color: #f5f5f5;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.talk__body-textChat__input > input {
  width: 100%;
  border: none;
}
.talk h1, .talk h2 {
  color: var(--color-accent);
}
.talk h2 {
  font-size: 25px;
}

/*# sourceMappingURL=talkPage.css.map */
